.initially-hidden {
  display: none;
}

#logo-page {
  text-align: center;
}

.hash_tag {
  color: blue !important;
}

.amount {
  text-align: right !important;
  margin-right: 1em !important;
}

#account-code, #account-longname, #account-netsum {
  font-weight: bold;
}

#account-netsum {
  font-size: 150%;
}

.ui-icon-duplicate:after {
  background-image: url("images/duplicate-icon.png");
  background-size: 18px 18px;
}

/* Gradient transparent - color - transparent */
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 1), rgba(0, 0, 0, 0));
}

hr.fail {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 0, 0, 1), rgba(0, 0, 0, 0));
}

hr.success {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 255, 0, 1), rgba(0, 0, 0, 0));
}
