<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "it.tissino.bezapp"
    versionCode = "10"
    version     = "0.1.2" >

<!-- versionCode is optional and Android only -->

  <name>Bêz</name>

  <description>
      A demo example for a basic client/server mobile app.
  </description>

  <author href="http://loris.tissino.it" email="loris.tissino@gmail.com">
      Loris Tissino
  </author>

  <icon src="images/icon-180x180.png" width="180" height="180" />
  
  <!--feature name="http://api.phonegap.com/1.0/network"/-->
  
  <!-- A wildcard can be used to whitelist the entire network,
     over HTTP and HTTPS.
     *NOT RECOMMENDED* 
     see https://github.com/apache/cordova-plugin-whitelist
     
     -->  
  <allow-navigation href="*" />
  
  <access origin="*" />

  <!-- see https://phonegap.com/blog/2015/11/19/config_xml_changes_part_two/ -->
  <!--gap:plugin name="cordova-plugin-whitelist" source="npm"-->
  <plugin name="cordova-plugin-whitelist" version="~1" />
    
</widget>
